<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Condicionales</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
</head>
<body>
	<br><br>
	<div class="container" id="app">
	{{$data}}

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2" align="center">
				
				<h4>Has trabajado con Vuejs?</h4>
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" value="2" v-model="vue.exp" v-bind:value="true">Si
					</label>
					<label  class="radio-inline">
						<input type="radio" v-model="vue.exp" value="1" v-bind:value="false">No
					</label>
					
				</div>
				<div v-show="vue.exp">
					<div class="form-group">
						<label>Cuantos años de experiencia tiene con Vue?</label>
						<input type="number" v-model="vue.years" class="form-control">
					</div>
					<!-- <div :class="'form-group ' +(descriptionError ? 'has-error' : '')" v-if="vue.years <2"> -->
					<div v-if="vue.years < 2" :class="{'form-group':true,'has-error':descriptionError!=null}">	
						<label>Que te motivo aprender Vue.js?</label>
							<textarea key="description1" v-model="vue.description" class="form-control" rows="4">Que te motivo aprende</textarea>
						<div class="alert alert-danger" v-if="descriptionError !=null">
							{{descriptionError}}
						</div>

					</div>
					<!-- <div v-else-if="vue.years >=2"  class="form-group" :class="{'has-error':descriptionError!=null}">	 -->
					<div v-else-if="vue.years >=2"   :class="['form-group',{'has-error':descriptionError!=null}]">	
						<label>Cuentanos tu experiencia con Vue.js?</label>
						<textarea key="description2" v-model="vue.description" class="form-control" rows="4"></textarea>
						<div class="alert alert-danger" v-if="descriptionError !=null">
							{{descriptionError}}
						</div>
						
					</div>
					
				</div>
			</div>

		</div>
	</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script type="text/javascript">
	const app=new Vue({
		el:"#app",
		data:{
			vue:{
				exp:null,
				years:0,
				description:''

			}
		},
		computed:{
			descriptionError:function(){
				let val= this.vue.description.trim();

				if(val ===''){
					return 'Complete el campo descripcion';
				}
				if(val.length <=5){
					return 'El campo descripcion debe ser mayor a 5 caracteres';
				}

				if(val.length >20){
					return 'Por favor escriba una descripcion menor a 20 caracteres';
				}
					return null;

			}
		}
		
	});
</script>
</body>
</html>